.generated_card {
    width: 100%;
    margin-top: 70px;
}
.head_section{
    text-align: center;
}
.head_section span {
    font-size: 20px;
    line-height: 30px;
    color: gray;
    font-weight: bold;
}
.head2, .head3 {
    text-decoration: underline;
}
#logo img {
    width: 60px;
    height: 60px;
}
#logo_heading {
    width: 100%;
}
#logo {
    width: 30%;
    float: left;
    display: inline-block;
}
.heading {
    width: 70%;
    display: inline-block;
}
.heading span {
    font-size: 20px;
    line-height: 30px;
    color: gray;
    font-weight: bold;
}
.user_profile {
    width: 100%;
    display: inline-block;
}
.user_image_left {
    float: left;
    width: 30%;
    display: inline-block;
    margin-top: 5px;
}
.user_uplodad_img {
    width: 90px;
    height: 115px;
    border-radius: 10px;
}
.user_info_right {
    width: 70%;
    display: inline-block;
}
canvas {
    width: 100%;
}
@media (orientation : landscape){ 
    .generated_card  {
        border: 1px solid black;
        width: 100%;
        margin-top: 0px;
    }
    .logo {
        width: 26%;
        text-align: right;
    }
    .heading {
        width: 74%;
    }
    .heading span {
        margin-left: 100px;
    }
    .logo img {
        margin-left: 0px;
    }
    .user_image_left {
        width: 30%;
        text-align: right;
        margin-right: 10%;
    }
    .user_info_right {
        width: 60%;
        display: inline-block;
    }
}