body {
    height: 200px;	    
    width: 315px;
    margin: 0;
    padding:0;
}

.clubcard-container  {
    background-color: white;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    text-align: left;
    width:  100%;
}


p  {
    font-size: 10px;	    
}

h1  {
    font-size: 17px;
}

.clubheader {
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}


.left-block-images  {
    width: 30%;
    float: left;
    /* margin-right: 10px; */
    margin-top: -10px;    /* REVISIT */
}


/* REVISIT: This occupies from left-corner to right, not from end 
   of left-block-images 
 */
.right-block-user-info {
    width: 70%;
    float: left;
    text-align: left;
}

.right-block-user-info p {
    line-height: 1px;
}

/*
.left-block-images, .headshot-image {
    height: 60px;
}
*/

